@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@300&display=swap');
.all-body {
    display: inline-flex;
    width: 100vw;
    height: 70%;
    margin-top: 0%;
}

#map {
    height: 585PX;
    width: 79.5%;
    float: right;
    padding-right: 18px;
}

.inputs {
    float: left;
    width: 20%;
    display: block;
    text-align: center;
    align-self: center;
    justify-self: center;
    height: 585px;
}

label {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
}

.inputs input {
    border: 2px solid #17a2b8;
    border-radius: 20px 50px;
    text-align: center;
}

.inputs input:focus {
    border: 2px solid #17a2b8;
    text-align: center;
    outline: none;
    border: 1px solid green;
}

.inputs input:hover {
    border: green;
    outline: none;
    border: 2px solid green;
}

.querries {
    margin-top: 200px;
}

  
  .slide-animation {
    animation: slideAnimation 0.5s forwards;
  }
  
  @keyframes slideAnimation {
    from {
      height: 300px; /* Initial height */
    }
    to {
      height: 180px; /* Target height */
    }
  }
  

  .reverse-slide-animation {
    animation: reverseSlideAnimation 0.5s forwards;
  }
  
  @keyframes reverseSlideAnimation {
    from {
      height: 180px; /* Starting height */
    }
    to {
      height: 300px; /* Ending height */
    }
  }
  
#btn {
    margin-top: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #17a2b8;
    outline: #17a2b8;
    border: none;
    height: 35px;
}

#btn:hover {
    background-color: green;
}

.title {
    background-color: #17a2b8;
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.title p {
    font-size: 40px;
    color: white;
    padding-left: 30px;
}

#msg {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
}

.awesome-marker i {
    font-size: 18px;
    margin-top: 8px;
}

@media screen and (max-width:768px){

    .all-body {
        display: block;
        width: 100vw;
        height: 70%;
        margin-top: 0%;
    }
    #map {
        height: 585PX;
        width: 100%;
        float: right;
        padding-right: 18px;
        border: 1px solid black;
        border-radius: 30px 30px 0 0;
    }
    
    .inputs {
        float: left;
        width: 100%;
        display: block;
        text-align: center;
        align-self: center;
        justify-self: center;
        height: 300px;
        transition: height 0.5s ease; /* Smooth transition for height change */
    }

    .querries {
        margin-top: 10px;
    }
    
    .buton-and-msg{
        width: 100%;
        display: block;
        text-align: center;
        align-self: center;
        justify-self: center;
    }

    .title p {
        font-size: 30px;
        color: white;
        padding-left: 10px;
        text-align: center;
        margin: 5px;
    }
    
    #menu-btn{
        margin: 15px;
    }
}